body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    color: #e41616;
}

p {
    text-align: center;
    font-size: 1.2em;
    color: #555;
}
